BeautifulSoup==3.2.1
Django==1.4.5
MySQL-python==1.2.4b4
PIL==1.1.7
Pygments==1.6
South==0.7.6
altgraph==0.9
bbfreeze==1.1.0
bbfreeze-loader==1.1.0
celery==3.0.19
cssutils==0.9.10b1
django-admin-bootstrapped==0.4.1
django-appconf==0.6
django-avatar==1.0.5
django-celery==3.0.17
django-crispy-forms==1.2.5
django-indexer==0.3.0
django-paging==0.2.4
django-picklefield==0.3.0
django-profiles==0.2
django-registration==1.0
django-social-auth==0.7.23
django-social-auth-trello==1.0.3
django-socialauth==0.1.2c
django-static-compiler==0.3.2
django-staticfiles==1.2.1
django-templatetag-sugar==0.1
gunicorn==0.17.4
httpagentparser==1.2.2
httplib2==0.8
logan==0.5.5
nydus==0.10.5
oauth==1.0.1
oauth2==1.5.211
pefile==1.2.10-123
pynliner==0.4.0
python-dateutil==1.5
python-openid==2.2.5
raven==3.3.4
redis==2.7.3
sentry==5.5.0-dev
simplejson==3.1.3
six==1.3.0
tornado==3.0.2
virtualenv==1.9.1
