{% load staticfiles %}
<!doctype html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Coreisc UNPRG Plataforma{% endblock %}</title>
        <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
        <link rel="stylesheet" href="{% static "css/bootstrap-glyphicons.css" %}">
        <link rel="stylesheet" href="{% static "css/bootstrap-wizard.css" %}">
        <link rel="stylesheet" href="{% static "css/main.css" %}">
    </head>
    <body>
    <nav class="navbar navbar-fixed-top bs-docs-nav">
	  <div class="container">
	    <a href="http://127.0.0.1:8000/" class="navbar-brand">COREISC</a>
	    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <div class="nav-collapse collapse bs-navbar-collapse">
	      <ul class="nav navbar-nav">
	      	<li class="active"><a href="#" title="">Inicio</a></li>
	        <li><a href="/planifica/">Planificar</a></li>
	        <li><a href="/eventos/">Eventos</a></li>
	        <li><a href="./">Conoce</a></li>
	      </ul>
	    </div>
	    <!--<div class="pull-right">
	    	<form class="navbar-form pull-left">
			  <input type="text" class="form-control" style="width: 200px;">
			  <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
			</form>
	    </div>-->
	  </div>
	</nav>
        <section>
        	<div class="container">
        		<div class="row">
        			<div class="col-lg-3">
						<div class="panel">
							<div class="panel-heading clearfix text-center">{{ user.get_full_name}} 
							</div>
							<div class="panel-body">
								<center>
								<div id="img_avatar">
									<img  src="/media/{{ user.get_profile.avatar|default:"thum/Steven_Wells.jpg"  }}" class="img-thumbnail">
								</div>
								<a data-toggle="modal" href="#picture" class="btn btn-primary btn-xs">Editar foto</a>
								 <div class="modal fade" id="picture">
								    <div class="modal-dialog">
								      <div class="modal-content">
								        <div class="modal-header">
								          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								          <h4 class="modal-title">Edit picture</h4>
								        </div>
								         <form id="img" action="/edit_profile/" enctype="multipart/form-data" method="post">{% csrf_token %}
								        <div class="modal-body">
			                                    <input type="file" name="avatar" id="id_avatar">
								        </div>
								        <div class="modal-footer">
			                                        <input type="submit" value="guardar" class="btn btn-danger">
			                            </div>
								         </form>
								      </div>
								    </div>
								  </div>
								</center>
							</div>
							<div class="panel-footer">
								<div align="center">
								<a href="/profile/{{user}}" title="" class="btn btn-primary btn-sm" rel="tooltip" data-original-title="Perfil"><span class="glyphicon glyphicon-user"></span></a>
								<a href="" title="" class="btn btn-primary btn-sm" rel="tooltip" data-original-title="Mensajes"><span class="glyphicon glyphicon-envelope"></span></a>{% if user.is_staff %}
								<a href="/admin/" title="" class="btn btn-primary btn-sm" rel="tooltip" data-original-title="Administracion"><span class="glyphicon glyphicon-cog"></span></a>{% endif%}
								<a href="/logout/" title="" class="btn btn-primary btn-sm" rel="tooltip" data-original-title="Salir"><span class="glyphicon glyphicon-off"></span></a>
								</div>
							</div>	
						</div>
						<div class="list-group">
						  <a href="#" class="list-group-item active">¿Que buscas?</a>
						  <a href="#" class="list-group-item">Hoteles <span class="badge">{{ hotel.count}}</span></a>
						  <a href="#" class="list-group-item">Restaurants <span class="badge">{{ restaurant.count}}</span></a>
						  <a href="#" class="list-group-item">Movilidades <span class="badge">{{ movil.count}}</span></a>
						  <a href="#" class="list-group-item">Lugares Turisticos<span class="badge">{{ lugar.count}}</span></a>
						</div>
        			</div>
        			{% block content %}
					<div class="col-lg-6">
						{% if follow_post.count = 0 %}
							<div class="panel">
								<div class="panel-heading">
									Te sugerimos seguir a:
								</div>
								<div class="panel-body"></div>
							</div>
						{% endif %}
						{% for post in post %}
						 {%for follow_post in follow_post%}
						 	{% if post.asistente = follow_post.user2 %}
						 	<div class="panel">
								<div class="panel-heading">
									{% if user.is_staff %}
									<a href="/remove/post/{{ post.pk}}" class="close">&times;</a>
									{% endif%}
									<div class="media">
								        <div class="pull-left">
								        	<a href="/profile/{{post.asistente}}" title=""><img src="/media/{{ post.asistente.get_profile.avatar }}" width="30px"></a>
								        </div>
								        <div class="media-body">
								        	<h5><a href="/profile/{{post.asistente}}" title="">{{ post.asistente.first_name }}</a>  <small>asistira a una conferencia</small><br><small class="timeago " title="{{ post.time|date:'Y-m-d H:i:s'}}"></small></h5>
								        </div>
								    </div> 
								</div>
								<div class="panel-body">
									<a href="/evento/{{post.event.pk}}" title=""><img src="/media/{{post.event.banner}}" alt="{{post.event.title}}" width="540px"></a>
								</div>
								<div class="panel-footer">
									<div class="media">
								        <div class="pull-left">
								        	<h5 class="text-danger text-center"><strong>{{ post.event.fecha|date:'M'}}</strong></h5>
								          	<h1>{{ post.event.fecha|date:'d'}}</h1>
								        </div>
								        <div class="media-body">
								          <a href="/evento/{{post.event.pk}}" title=""><h4 class="media-heading">{{post.event.title}}</h4></a>
								         <h6>{{ post.event.fecha|date:'h:i A'}}</h6> 
								        </div>
							      </div>
								</div>	
							</div>
						 	{% endif%}
						    {% endfor %}
						{% empty%}
						<div class="panel">no hay ninguna publicacion hoy</div>
						{% endfor %}
					</div>
					<div class="col-lg-3">
						<legend>Recomendaciones</legend>
						{% for publi in publi %}
						<div class="panel">
						  <div class="panel-heading"><a href="/auspicio/{{ publi.pk }}" title="">{{ publi.nombre }}</a>
						  </div>
						  <p>
						  	<img src="/media/{{ publi.bannerIndex }}" width="250px" class="img-thumbnail">
						  </p>
						  <div class="panel-footer">{{ publi.recomienda.count }} personas recomiendan esto</div>
						</div>
						{% endfor%}
					</div>
					{% endblock %}
				</div>
        	</div>
        </section>
        <footer>
	        <div class="container"><p>© Coreisc UNPRG 2014.</div>	
	    </footer>
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="{% static "js/bootstrap.js" %}"></script>
        <script src="{% static "js/bootstrap.min.js" %}"></script>
        <script src="{% static "js/jquery.timeago.js" %}"></script>
        <script src="{% static "js/jquery.timeago.es.js" %}"></script>
        <script type="text/javascript">
		    $("[rel=tooltip]").tooltip();
		    $(".timeago").timeago();
			/*$('#img').submit(function(e){
		    	data2 = $('#img').serialize(),
					console.log(data2);
		    		$.ajax({ // create an AJAX call...
			          data: 'b='+$('#img').serialize(), // get the form data
			          type: "GET",
			          url: "/accounts/edit/user/", // the file to call
			          beforeSend: function(response){
			            $('.checkuser').html('<img src="http://www.goodleads.com/content/styles/images/preloader.gif" width="30px">');
			          },
			          success: function(response) { // on success..
			             $('.checkuser').html(response);
			          }
			      	});
		    	return false;
		    });*/

		</script>
    </body>
</html>
