{% extends "index.html" %}
{% block content %}
{% load staticfiles %}
<div class="col-sm-9 col-md-9 col-lg-9">

      {% for event in event %}
      {% if event.fecha|date:'d/m/Y' = '07/04/2014' %}
        <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                {{event.title}}<span class="badge">{{event.fecha|date:'h:i A'}}</span>
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
            {{event.title}}
            </div>
          </div>
        </div>
      {% endif %}
      {% endfor %}
      {{hoy}}
      </div>
  <div class="panel">
    <!-- Default panel contents -->
    <div class="panel-heading">MARTES</div>
    <div class="panel-body">
      <p></p>
    </div>
  </div>
  <div class="panel">
    <!-- Default panel contents -->
    <div class="panel-heading">MIERCOLES</div>
    <div class="panel-body">
      <p></p>
    </div>
  </div>
  <div class="panel">
    <!-- Default panel contents -->
    <div class="panel-heading">JUEVES</div>
    <div class="panel-body">
      <p></p>
    </div>
  </div>
  
</div>
{% endblock %}        